.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards > ul {
  display: block;
}

.cards > ul > li {
  border-radius: 20px;
  padding: 30px;
  background-color: var(--background-color);
}

.cards > ul > li:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
